* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #060821;
    --rosa: #C12D6D;
    --branco: #ffffff;

    --font1: 'Titillium Web', sans-serif;
    --font2: 'Righteous', cursive;
}

h1 {
    font-size: 80px;
    /* color: #FBC02C; */
    text-align: right;
    position: absolute;
    left: 900px;
    top: 320px;
    /* text-shadow: 0 1px 0 #ff0000,
        0 2px 0 #2c0ed2,
        0 3px 0 #df4e06,
        0 4px 0 #e80808,
        0 5px 0 #e78907,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15); */
    transform: rotate(-10deg);
    /* box-shadow: 0px 0px 25px 25px rgba(239, 4, 28, 0.6); */
    /* text-shadow: 0px 0px 25px 25px rgba(239, 4, 28, 0.6); */
    color: #FBC02C;
    text-shadow:
        0 0 7px #1e1616,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
    background: #3F6174;
    background: repeating-radial-gradient(ellipse farthest-corner at left center, #3F6174 0%, #562835 69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    /*background-image: url('../BlaMovi/25-05-2023/bla/imagem/');*/

}

header div {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
    align-items: center;
    /* background-color: aqua; */

}

header img {
    width: 80px;
    height: 80px;
    color: #FBC02C;
}

#divbusca {
    background-color: #fff;
    border: solid 1px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 30px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: 3px solid #e40810;
    border-radius: 30px;
    height: 100%;
    max-width: 30px;
    width: 100%;
    max-width: 400px;
}

body {
    background-color: #0e0e0e;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;

}

.menu ul li {
    text-decoration: none;
}

.menu ul a {
    color: #FBC02C;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font2);
    align-items: center;

}

.menu ul a:hover {
    color: #e40810;
    transform: scale(1.5);
    /* transform: rotate(20deg); */
    text-shadow: 0px 5px 10px rgba(239, 180, 4, 0.6);

}

.hamburguer {
    width: 50px;
    height: 50px;
    
    fill: var(--branco);
}


.banner {

    background-image:
        url("../BlaMovi/Imagem/Movie-projector-retro-style_3840x2160\ 1.jpg");
    width: 100%;
    max-width: 1920px;
    height: 700px;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    position: relative;


}

.onda {
    width: 100%;
    max-width: 1920px;
    height: 300px;
    background-image:url(Imagem/wave.svg) ;
   background-repeat: no-repeat; 
   background-size: cover;
   position: absolute;
   bottom: 0;

}


.favoritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;


}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 60px;

}

.poster {
    justify-content: space-between;
}

.poster>img {
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 400px;
    /* margin: 10px; */

    border-radius: 30px;
    /* border: 2px solid #C12D6D; */
    padding: 20px;

}

h2 {
    font-family: var(--font2);
    color: #FBC02C;
    margin: 40px;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: var(--font2);
    color: #FBC02C;
    text-align: center;

}

.poster div {
    display: flex;
    justify-content: center;


}

.poster div img {
    width: 30px;
    height: 30px;
    justify-content: center;
}

.poster:hover {
    scale: 1.05;
    box-shadow: 0px 0px 10px 5px hsl(356, 92%, 48%);
    /* border: 5px solid hsl(321, 66%, 35%); */
    transform: rotate(360deg);
    transition-duration: 2s;
}

.poster {
    background-color: #000;
    border-radius: 30px;
}

span {
    font-family: var(--font2);
    color: var(--branco);
}

footer {
    /* display: flex; */
    background-image: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(1, 0, 20, 0) 25%, rgba(0, 0, 7, 0) 75%, rgba(0, 0, 0, 1) 100%), url(../BlaMovi/Imagem/footer.png);
    margin: 30px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 100px;
}


.contato {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.contato a {
    font-family: var(--font2);
    text-decoration: none;
    color: var(--branco);
    font-size: 18px;
}

.contato div img {
    width: 50px;
    height: 50px;
}

footer div img {
    width: 40px;
    height: 30px;
}

footer>div {
    width: 100%;
    max-width: 1920px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    /* background-color: #FBC02C; */
    margin: 10px;

}

footer ul a {
    font-family: var(--font2);
    color: #FBC02C;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

footer ul a:hover {
    color: #e408;
    transform: scale(2.1);
    text-shadow: 0px 5px 10px rgba(239, 180, 4, 0.6);
}

.contato img {
    width: 100%;
    max-width: 40px;
    height: 100%;
    max-height: 40px;
    margin: 10px;
}



/* RESPONSIVIDADE */

@media screen and (max-width: 1365px) {
    h1 {
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    .card {}

    .poster>img {}

    .poster:hover {
        box-shadow: 0px 0px 10px 5px hsl(356, 92%, 48%);
        border: 5px solid hsl(321, 66%, 35%);
    }

}

@media screen and (max-width: 800px) {


    .menu ul a {
        display: none;

    }

    #divbusca {
        display: none;
    }

    .hamburguer {
        display: initial;
    }

}